<h1>Create a new <span class="city-name">City</span>List</h1>

<% if @city_list.errors.any? %>
  <div>
    <%= @city_list.errors.full_messages.first %>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= form_for @city_list do |f| %>

      <fieldset>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, placeholder: "Enter a City here...", class: "form-control" %>
        </div>
      </fieldset>

      <%= f.submit "Create", class: "btn btn-default"  %>
    <% end %>
  </div>
</div>
