<header>
  <nav>
    <h1><span class="your-name"><%= @user.name %></span>'s <span class= "city-name"><%= @city_list.city %></span><span class="list-title">List</span></h1>
    <ul>
      <li>LIST (<%= @completed %>% completed)</li>
      <li>FAVS (<%= @favs_count %>)</li>
      <li>|</li>
      <li><%= link_to dashboard_path do %>ALL <span class="city-name">City</span>Lists <% end %></li>
      <li>|</li>
      <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>

<div class="map-background"></div>

<div class="bucket-list">
  <ul id="list-items">
    <% @list_items.each do |list_item| %>
      <li>
        <!-- FAVORITE -->
        <%= link_to toggle_favorite_item_path(list_item.id), method: :post do %>
          <% if list_item.favorite %>
            <i class="heart fa fa-heart"></i>
          <% else %>
            <i class="heart fa fa-heart-o"></i>
          <% end %>
        <% end %>

        <!-- COMPLETE -->
        <%= link_to toggle_complete_item_path(list_item.id), method: :post do %>
          <% if list_item.complete %>
            <i class="checkbox fa fa-check-square-o"></i>
          <% else %>
            <i class="checkbox fa fa-square-o"></i>
          <% end %>
        <% end %>

        <!-- TITLE -->
        <%= list_item.title %> 

        <!-- DELETE -->
        <%= link_to city_list_list_item_path(@city_list.id, list_item.id), method: :delete do %>
          <i class="fa fa-times opaque"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= form_for @new_list_item, url: city_list_list_items_path(@city_list.id), method: :post do |f| %>
    <%= f.text_field :title, value: "New Item..." %>
    <%= f.submit 'Add' %>
  <% end %>

</div>

