<header>
  <nav>
    <h1><span class="your-name"><%= @user.name %></span>'s <span class= "city-name">City</span><span class="list-title">Lists</span></h1>
    <ul>
      <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>

<div class="city-list-body">
  <% @city_lists.each do |city_list| %>
    <%= link_to city_list_path(city_list.id) do %>
      <div class="city-list">
        <h2><%= city_list.city %></h2>
        <%= link_to "X", city_list_path(city_list.id), method: :delete %>
      </div>
    <% end %>
  <% end %>
    <%= link_to new_city_list_path do %>
      <div class="city-list"><h2>+</h2></div>
    <% end %>
</div>

<div class="clear"></div>